<div class="container">
  <div class="row">
    <div class="col-md-12">


      <actual-root>
        <app-header></app-header>

      </actual-root>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">

      <app-shopping-list></app-shopping-list>
      <app-shopping-list-edit></app-shopping-list-edit>

    </div>
    <div class="col-xs-6">

      <app-recipe-list></app-recipe-list>
      <app-recipe-item></app-recipe-item>
      <app-recipe-detail></app-recipe-detail>

    </div>
  </div>
</div>
